<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
</head>
<body>
<h1>Welcome to the text analizer. Enter your Text below </h1>
<form action="/analyze" method="GET">    
    <textarea name="text" style="margin: 0px; width: 696px; height: 162px;"></textarea>
    <br><input type="checkbox" name="removepunc">Remove Punctuations
    <br><button type="submit">Analyze Text</button>
</form>
</body>
</html>